# Configurações do Servidor 
PORT=3000 
HOST=0.0.0.0 
NODE_ENV=development 
JWT_SECRET=scum_server_manager_jwt_secret_key_2025_very_secure_and_unique
FRONTEND_URL=http://192.168.100.3:5173

# Configurações dos Logs do SCUM 
SCUM_LOG_PATH=\\\\192.168.100.15\\Servers\\Scum\\SCUM\\Saved\\SaveFiles\\Logs
SCUM_LOG_CACHE_PATH=src/data/logs/cache
SCUM_LOG_MAX_RETRIES=2

# Configuração do Webhook
WEBHOOK_URL=

# Configurações do Discord Bot
DISCORD_BOT_TOKEN=seu_token_aqui
DISCORD_GUILD_ID=seu_guild_id_aqui

# Configurações do Banco de Dados
DATABASE_PATH=C:\\Servers\\scum\\SCUM\\Saved\\SaveFiles\\SCUM.db